@import 'variables.css';

.activityPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.activity_container {
  flex: 1;
  overflow-y: auto;
}

.header {
  align-items: center;
  background-color: var(--darkBlue);
  color: var(--lightBlue);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headerRight {
  display: flex;
  justify-content: center;
}

.activity {
  color: var(--pureWhite);
  font-size: 21px;
}

.assignDate {
  font-style: italic;
  align-self: center;
}

.left_arrow {
  fill: white;
  margin: auto auto;
}

.leftArrowContainer {
  width: 40px;
  display: flex;
}

.leftSide {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

