@import 'variables.css';

.draftType, .draftDetails {
  display: flex;
  padding: 15px 20px;
}

.draftTypeLeft {
  margin-right: 20px;
  min-width: 33%;
}

.draftDetailsLeft {
  margin-right: 20px;
  min-width: 50%;
}

.draftDetailsLeft h4{
  margin: 0;
}

.subheader {
  color: var(--darkGrey);
  font-size: 14px;
  min-width: 32%;
}

.help {
  fill: var(--darkBlue);
  margin-left: 10px;
}

.draftFocus {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.controls svg{
  fill: var(--blue);
}

.rightLinks a {
  text-decoration: none;
}

.reflections {
  align-items: center;
  display: flex;
  margin-top: 40px;
}
