@import 'mixins.css';

.row {
  height: 50px;
}

.row:nth-child(even) {
  background-color: var(--bkGrey);
}

td {
  border-right: 1px solid var(--comGrey);
  padding: 0 25px;
  width: 25%;
}

td:first-child {
  padding-left: 100px;
}
