@import 'core.css';

.row {
  border-top: 1px solid var(--lightGrey);
  height: 50px;
}

td {
  padding: 0 20px !important;
  width: 25%;
}

.reviewSent {
  color: var(--darkGrey);
  font-style: italic;
}
