@import 'variables.css';

.commentModal {
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  background-color: var(--gray-very-light);
  z-index: 101;
  width: 460px;
}

.commentModal .header {
  border-bottom: 1px solid var(--gray-medium);
  padding: 10px;
  font-weight: bold;
}

.commentModal .buttonsHeader {
  padding: 10px;
  font-weight:bold;
}

.commentModal .buttons {
  display: flex;
  padding-right: 10px;
  align-items: flex-end;
}

.commentModal .required {
  color: var(--gray-base);
  font-size: 12px;
  margin-left: 10px;
}

.commentModal .comments {
  padding: 10px;
  display: flex;
}

.commentModal .commentText {
  background-color: #fff;
  border: 1px solid var(--gray-dark);
  flex: 1;
  height: 80px;
  padding: 5px;
}

[contenteditable=true]:empty:before {
  color: var(--gray-dark);
  content: attr(placeholder);
  display: block; /* For Firefox */
  font-style: italic;
}

.commentModal .controls {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px;
  align-items: center;
}

.commentModal .feedbackError {
  color: var(--red);
  font-size: 12px;
}

.commentModalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 100;
}
