@import 'variables.css';

.commentModal {
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  background-color: var(--gray-very-light);
  z-index: 101;
}

.modalWrapper {
  padding: 15px;
  display: flex;
}

.commentWrapper {
  background-color: var(--white);
  margin: 0 0 15px 15px;
  width: 460px;
  border: 1px solid var(--gray);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  font-weight: bold;
}

.sectionHeader {
  padding: 10px 0;
  font-weight:bold;
  font-size: 11px;
  display: flex;
  color: var(--gray);
}

.sectionHeaderText {
  letter-spacing: 1px;
}

.commentsHeadingLine {
  border-top: 1px solid var(--gray);
  bottom: -7px;
  position: relative;
  width: 100%;
  flex: 1;
  margin-left: 10px;
}

.buttons {
  display: flex;
  padding-right: 10px;
  justify-content: center;
}

.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.commentTextWrapper {
  background-color: #fff;
  border: 1px solid var(--gray);
  flex: 1;
  height: 80px;
  padding: 5px;
  overflow-y: scroll;
}

.commentText{
  display: inline;
}

[contenteditable=true]:empty:before {
  color: var(--gray);
  content: attr(placeholder);
  font-style: italic;
}

.controlsWrapper {
  padding-top: 15px;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.feedbackError {
  color: var(--red);
  font-size: 12px;
}

.commentModalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--gray-light);
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 100;
}

.commentDescription {
  margin-left: 20px;
  color: var(--gray);
  font-size: 13px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
}

.panel {
  padding: 15px;
}
