@import 'variables.css';

.commentModalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
}

.commentModalContainerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(75% + 10px);
  height: 100%;
  display: table;
  z-index: 101;
}
.commentModalContainer {
  display: table-cell;
  text-align: center;
}
.commentModal {
  display: inline-block;
  text-align: left;
  background-color: var(--gray-very-light);
  box-shadow: 0px 0px 20px 0px rgba(173,173,173,1);
}

.modalWrapper {
  padding: 15px;
  display: flex;
}

.commentWrapper {
  background-color: var(--white);
  margin: 0 0 15px 15px;
  width: 460px;
  border: 1px solid var(--gray);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  font-weight: bold;
}

.sectionHeader {
  padding: 10px 0;
  font-weight:bold;
  font-size: 11px;
  display: flex;
  color: var(--gray-dark);
}

.sectionHeaderText {
  letter-spacing: 1px;
}

.commentsHeadingLine {
  border-top: 1px solid var(--gray);
  bottom: -7px;
  position: relative;
  width: 100%;
  flex: 1;
  margin-left: 10px;
}

.buttons {
  display: flex;
  padding-right: 10px;
  justify-content: center;
  white-space: nowrap;
}

.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.commentTextWrapper {
  height: 80px;
  padding: 5px;
  resize: none;
}

.commentText{
  display: inline;
}

[contenteditable=true]:empty:before {
  color: var(--gray);
  content: attr(placeholder);
  font-style: italic;
}

.controlsWrapper {
  padding-top: 15px;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.feedbackError {
  color: var(--red);
  font-size: 12px;
}

.commentDescription {
  margin-left: 20px;
  color: var(--gray-very-dark);
  font-size: 13px;
  white-space: pre-wrap;
}

.rightPanel {
  display: flex;
  flex-direction: column;
}

.panel {
  padding: 15px;
}

.removeComment {
  text-align: right;
}

.sectionContainer {
  visibility: hidden;
}

.sectionContainer.shown {
  visibility: visible;
}

.openCommentModal .sectionContainer {
  min-height: 90px;
}

.draftGoalsModal .sectionContainer {
  min-height: 108px;
}

.editingMarksModal .commentDescription {
  height: 95px;
  overflow-y: auto;
  box-shadow: inset 0 0 8px -2px rgba(0,0,0,0.3);
  margin-left: 0;
  padding: 10px;
  overflow-x: hidden;
}