@import 'variables.css';

form {
  line-height: 1.4;
  overflow: hidden;
}

label {
  display: block;
  margin: 15px 0 6px;
  font-size: 13px;
  font-weight: bold;
}

input, textarea {
  color: var(--blackish);
  width: 70%;
  box-sizing: border-box;
  border: 1px solid var(--mediumLightGrey);

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow:   0 0 6px rgba(0,117,142,1);  /* teal glow */
}

input {
  padding: 5px 8px;
  line-height: 33px;
  height: 34px;
}

textarea {
  padding: 10px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: var(--darkGrey);
  font-style: italic;
}

section {
  padding: 50px 100px;
}
