@import 'mixins.css';

.category_levels {
  display: flex;
  flex-direction: column;
  width: calc(100% * 1/6);
}

.category_nameLevelContainer {
  background-color: var(--veryLightGrey);
  border: 0 solid var(--lightGrey);
  border-width: 1px 0px 0 1px;
  min-height: 100px;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category_nameLevelContainer:first-child {
  min-height: 40px;
  text-align: left;
  height: 71px;
}

.name {
  margin-left: 5px;
}
