@import '../../../styles/core.css';

.headerContainer {
  align-items: center;
  background-color: var(--darkBlue);
  color: var(--lightBlue);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headerRight {
  align-items: center;
  display: flex;
  min-width: 35%;
  justify-content: space-between;
}

/*.headerButton {*/
  /*background-color: #fff;*/
  /*border: 1px solid #ccc;*/
  /*border-radius: 3px;*/
  /*color: #999;*/
  /*font-size: 14px;*/
  /*padding: 5px 10px;*/
/*}*/

.activity {
  color: var(--pureWhite);
  font-size: 21px;
}
