/*
@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('../_fonts/proximanova-extrabld-webfont.eot');
    src: url('../_fonts/proximanova-extrabld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/proximanova-extrabld-webfont.woff') format('woff'),
         url('../_fonts/proximanova-extrabld-webfont.ttf') format('truetype'),
         url('../_fonts/proximanova-extrabld-webfont.svg#ProximaNovaExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/* red #e8393c */

* {
	margin:0;
	padding:0;
	list-style:none;
}

:focus, :active {  
    
} 

html {
	overflow-y: scroll;		
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {

	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #666666;
	font-weight:normal;
	
	border: none;
	
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none; 

	/*min-width: 1000px;*/

}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 30px;
	color: #000000;
	line-height: 36px;
}

h2 {
	font-size: 24px;
	color: #000000;
	line-height: 30px;
	margin-bottom: 20px;
}

h3 {
	font-size: 21px;
	color: #000000;
	line-height: 26px;
	margin-bottom: 15px;
}

h4 {
	font-size: 17px;
	color: #000000;
	line-height: 22px;
	margin-bottom: 3px;
}

ul {
	margin-left: 15px;
	margin-bottom: 25px;
}

ol {
	margin-left: 20px;
	margin-bottom: 25px;
}

	ul li {
		list-style: outside disc;
		padding: 0px 0 0px 0;
	}
	
	ol li {
		list-style: outside decimal;
		padding: 0px 0 0px 0;
	}
	

img {
	border: 0;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	font-size: 14px;
	color: #666666;
	line-height: 21px;
	margin-bottom: 20px;
}

caption {
	display: none;	
}

table {
	border-collapse: collapse;	
	width: 100%;
	table-layout: fixed;
}

table th {
	text-align: left;
	font-size: 11px;
	font-weight: 400;
	line-height: 15px;
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 10px 10px 0;
	color: #666666;
}

table thead th {
	letter-spacing: 0.2em;
}

table td {
	text-align: left;
	border-bottom: 1px solid #d8d8d8;
	padding: 20px 40px 20px 0;

	vertical-align: middle;
}

a:link, a:visited, a:active {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

input[type=text], input[type=password] {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 7px;
	width: 100%;
	border: 1px solid #cccccc;	
	
	box-sizing: border-box;
}

.button, a.button {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #cc0000;
	padding: 12px 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 10px;
	
	border: none;
	box-sizing: border-box;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	
	-webkit-appearance: none;
	
}

	.button:hover, a.button:hover {
		opacity: 0.8;
		text-decoration: none;	
	}

.clearfix {
	clear: both;
	height: 1px;
	
	/* IE HACK */
	font-size: 0px;
	line-height: 0px;
	
	_display: none;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.inside {
	position: relative;
	width: 86%;
	max-width: 1200px;
	margin: 0 auto;
}


@media (max-width: 700px) {
	
	h1 {
		font-size: 24px;
		line-height: 30px;
	}
	
	h2 {
		font-size: 12px;
		line-height: 44px;
		color: #666666;
		background: #f3f3f3;	
		text-transform: uppercase;
		letter-spacing: 0.2em;
		width: 108%;
		margin-left: -8%;
		padding-left: 8%;
		
		margin-bottom: 0;
		
		/*
		border-bottom: 1px solid #d8d8d8;
		border-top: 1px solid #d8d8d8;
		*/
	}
	
	h3 {
		margin-bottom: 20px;	
	}
	
	
}

/* LOGIN */

#login-body {
	background: #f3f3f3;	
}

#login {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f3f3f3;	
}

#login-holder {
	width: 450px;	
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#login-panel {
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	padding: 50px;
}

	#login-logo {
		text-align: center;
		margin-bottom: 20px;	
	}

	.login-title {
		position: relative;
		margin-bottom: 10px;
	}
	
		.login-title h1 {
			font-size: 21px;
		}
	
		.login-title span {
			position: absolute;
			top: 13px;
			right: 0px;
			text-align: right;	
		}
		
	.login-form {
			
	}
	
		.login-form label {
			display: block;
			margin-bottom: 7px;	
			margin-top: 15px;
		}
		
		#login-password {
			position: relative;	
			margin-bottom: 20px;
		}
		
			#login-password a {
				position: absolute;
				top: 0;
				right: 0;
				text-align: right;	
			}
			
	#login-social {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	
		#login-social .button .fa {
			position: absolute;
			top: 13px;
			left: 15px;
			font-size: 20px;
			opacity: 0.5;
		}
	
		#login-social .divider {
			border-top: 1px solid #cccccc;	
			margin-bottom: 15px;
		}
		
			#login-social .divider span {
				display: block;
				margin: 0 auto;
				margin-top: -10px;
				background: #ffffff;
				width: 40px;
				text-align: center;
			}
			
		.button.google {
			background: #d34529;
		}
		
		.button.facebook {
			background: #44649c;
		}
		
	#login-help {
		text-align: center;	
	}
	
	#login-copyright {
		text-align: center;
		margin-top: 15px;
		font-size: 12px;
		line-height: 18px;	
	}
	
	
@media (max-width: 700px) {	
	#login-body {
		background: #ffffff;	
	}

	#login {
		background: #ffffff;	
	}
	
	#login-holder {
		width: 86%;	
		margin: 0 auto;
		padding-top: 30px;	
		padding-bottom: 20px;	
	}
	
	#login-panel {
		background: #ffffff;
		box-shadow: none;
		padding: 0;
	}
	
	#login-copyright {
		margin-top: 30px;
	}
	
}
		
	
/* STRUCTURE  */

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
}

/* Header */

#header {
	position: fixed;
	width: 100%;
	height: 70px;
	background: #333333;
	z-index: 700;
}

#header-nav {
	position: absolute;
	top: 0;
	right: 20px;	
}

	#header-nav ul, #header-nav li {
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	
	#header-nav li {
		position: relative;
		float: left;
		margin-left: 0px;	
		color: #ffffff;
		height: 70px;
		line-height: 70px;
		font-weight: 700;
		padding: 0 12px;
	}
	
		#header-nav li:hover {
			background: #000000;
			cursor: pointer;
		}
		
		#header-nav li:hover img {
			opacity: 1;	
		}
	
	#logo-ml {
		position: absolute;
		top: 10px;
		left: 30px;
	}
	
		#logo-ml img {
			height: 50px;	
		}
		
	li#nav-courses {
		padding-right: 35px;
		padding-left: 15px;
	}
		
		li#nav-courses img {
			position: absolute;
			top: 25px;
			right: 10px;
			fill: #cc0000;
			width: 18px;
			height: 18px;
			margin-left: 10px;	
		}
		
		li#nav-calendar img, li#nav-help img {
			fill: #ffffff;
			width: 28px;
			height: 28px;
			opacity: 0.5;
			margin-top: 21px;	
		}
	
	#avatar {
		width: 28px;
		height: 28px;
		background: #999999;	
		border-radius: 50%;
		float: right;
		margin-top: 21px;
		margin-left: 12px;
		overflow: hidden;
	}
	
	#avatar img {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
	}
	
#header-nav .sub-nav, #header-nav .sub-nav li {
	margin: 0;
	padding: 0;
	list-style: none;	
}
	
#header-nav .sub-nav {
	display: none;
	position: absolute;
	top: 69px;
	left: 0;
	background: #000000;
}

	#header-nav .sub-nav li {
		float: none;
		width: 200px;
		height: auto;
		padding: 15px 20px;	
		border-top: 1px solid #333333;
		line-height: 19px;
		font-weight: 700;
	}
	
		#header-nav .sub-nav li:hover{
			background: #333333;	
		}
		
	#header-nav .sub-nav h5 {
		color: #999999;
		padding: 0 20px;	
		font-size: 11px;
		line-height: 40px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		border-top: 1px solid #333333;
		font-weight: 700;
	}
		
#header-nav li.open .sub-nav {
	display: block;
}

#coverup {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 600;
	background: transparent;	
}


@media (max-width: 700px) {
	
	#header-nav {
		right: 5%;
		display: none;
	}
	
	#logo-ml {
		/*display: none;*/
		left: 7%;
	}
	
	li#nav-profile span {
		display: none;	
	}
	
		#avatar {
			padding: 0;
			margin-left: 0;	
		}
}

#mobile-icon {
	display: none;	
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 800;
}

	#mobile-icon img {
		width: 32px;
		height: 32px;
		fill: #999999;	
	}
	
#mobile-nav {
	display: none;	
	position: fixed;
	top: 0;
	right: -250px;
	z-index: 900;
	width: 250px;
	height: 100%;
	background: #000000;	
}

	#mobile-nav ul, #mobile-nav li {
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	
	#mobile-nav ul {
		margin-top: 70px;
		border-top: 1px solid #333333;
	}
	
	#mobile-nav li {
		position: relative;
		padding: 18px 20px 18px 65px;
		border-bottom: 1px solid #333333;
		
		color: #ffffff;
		font-weight: 700;
		letter-spacing: 0.05em;	
	}
	
	#mobile-nav li img {
		position: absolute;
		top: 11px;
		left: 20px;
		width: 32px;
		height: 32px;
		fill: #cc0000;	
	}
	
	#mobile-avatar {
		position: absolute;
		top: 13px;
		left: 20px;
		
		width: 28px;
		height: 28px;
		background: #999999;	
		border-radius: 50%;
		overflow: hidden;
	}
	
	#mobile-avatar img {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
	}
	
	#icon-x img {
		position: absolute;
		top: 22px;
		right: 22px;
		width: 28px;
		height: 28px;
		fill: #999999;	
	}
	
@media (max-width: 700px) {
	
	#mobile-icon, #mobile-nav {
		display: block;	
	}
	
	
}

	

/* Title */

#title {
	position: fixed;
	top: 70px;
	height: 110px;
	width: 100%;	
	background: #ffffff;
	z-index: 500;
	
}

	#title h1 {
		line-height: 110px;
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}	
	
/* Main Nav */

#main-nav {
	position: fixed;
	top: 180px;
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: -2px;
	z-index: 500;
	
	box-sizing: border-box;
}

#main-nav ul, #main-nav li {
	list-style: none;	
	padding: 0;
	margin: 0;
}

	#main-nav li {
		position: relative;
		float: left;	
		margin-right: 45px;
		height: 35px;
		padding-left: 37px;
		font-size: 13px;
		margin-bottom: -2px;
	}
	
		#main-nav li:hover {
			color: #cc0000;
			cursor: pointer;	
		}
		
		#main-nav li.selected {
			color: #000000;
			border-bottom: 3px solid #cc0000;	
		}
	
	#main-nav img {
		position: absolute;
		top: -5px;
		left: 0;
		fill: #cc0000;	
		width: 28px;
		height: 28px;
	}
	
	
@media (max-width: 700px) {
	
	#title {
		position: relative;
		top: 70px;
		height: 80px;		
	}
	
		#title h1 {
			line-height: 80px;
		}	
		
	#main-nav {
		position: relative;
		top: 70px;
		width: 100%;
	}
	
		#main-nav li {
			height: 50px;
			width: 21%;
			text-align: center;	
			padding: 0 0 10px 0;
			margin: 5px 6% -2px 6%;
			
		}
		
			#main-nav li img {
				position: relative;
				display: block;	
				margin: 0 auto;
			}
	
			#main-nav li span {
				display: block;	
			}
		
	
}

/* Content */

#content {
	position: relative;
	padding-top: 250px;	
}

.badge {
	display: inline-block;
	padding: 4px 7px;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	background: #999999;	
	
	border-radius: 3px;
}

	.badge.done {
		background: #088841;	
	}
	
	.badge.todo {
		background: #b54343;	
	}
	
	.badge.pastdue {
		background: #b54343;	
	}

.accord-toggle {
	float: left;
	margin-right: 12px;	
	background: url('image/icon_accord_arrow.svg') no-repeat;
	background-position: center -20px;
	background-size: 32px 96px;
	fill: #999999;
	width: 32px;
	height: 32px;
	overflow: hidden;
}

	.accord-toggle.open {
		background-position: center 10px;
	}

.accord-content {
	display: none;	
}

	.accord-content p {
		padding-left: 120px;	
	}

.accord-title:hover {
	cursor: pointer;
}

	.accord-title:hover h3 {
		color: #666666;	
	}

#assignments, #chapters {
	margin-bottom: 40px;	
}

	.ath-upcoming {
		width: 50%;	
	}
	
		.cth-content {
			width: 40%;
            padding-left: 10px;
		}
		
		.cth-done {
			width: 82px;	
			padding-left: 0;
			margin-left: 0;
			margin-right: 0;
		}
		
	.ath-status, .cth-status {
		width: 20%;	
	}
	
	.ath-date, .cth-date {
		width: 20%;	
	}
	
	.ath-points, .cth-points {
		width: 10%;	
	}
	
		.cth-points {
			width: 20%;	
		}
	
	
#chapters ul, #chapters li {
	margin: 0;
	padding: 0;
	list-style: none;	
}

	#chapters li {
		position: relative;
		padding: 20px 0;
		border-top: 1px solid #d8d8d8;	
	}
	
	#chapters li:last-child {
		border-bottom: 1px solid #d8d8d8;	
	}

	
.chapter-content {
	padding-left: 25px;
	margin-bottom: 30px;
	padding-top: 20px;
}

.progress {
	position: relative;
	float: left;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 1px solid #999999;
	text-align: center;
	color: #000000;
	line-height: 44px;	
	
	margin-right: 30px;
}

	.progress .num {
	
	}

	.progress img {
		position: absolute;
		top: -3px;
		left: -3px;
		
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);	
		stroke: #0b8943;
		stroke-width: 2px;
		stroke-dasharray: 0 276;
		fill: none;
	}
	
#chapters li .text {
	padding-left: 120px;	
	padding-top: 6px;
}

.today {
	color: #cc0000;	
}

.complete {
	float: left;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid #d8d8d8;
	text-align: center;
	line-height: 28px;	
	
	margin-left: 25px;
}

	tr.done {
		background: #f3f3f3;	
		border-bottom: 1px solid #d8d8d8;
	}
	
	tr.done a {
		color: #666666;
	}
	
	tr.done .badge {
	
	}

	tr.done .complete {
		border: 2px solid #0b8943;
		fill: #0b8943;	
	}

    #chapters th.ctd-title {
        padding-left: 10px;
    }

    .add-course{
         font-weight: bold;
         background-color: #d82934;
     }

    .add-course:hover{
        background-color: #ff2935 !important;
    }
	
@media (max-width: 700px) {

    table tr {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #d8d8d8;
    }

    #content {
		padding-top: 70px;
	}
	
	#assignments table thead {
		display: none;	
	}

    #assignments tr th {
        display: block;
        border: 0;
        padding: 8px 0;
    }

	#assignments td {
		display: block;
		border: 0;
		padding: 0;
		padding-bottom: 8px;	
	}
	
		#assignments td.atd-title {
			padding-top: 20px;	
		}
		

			#assignments td.atd-date:before {
				content: 'DUE: ';	
			}
	
		#assignments td.atd-points {
			display: none;	
		}
		



	#chapters td {
		display: block;
		border: 0;
		padding: 0;
		padding-bottom: 8px;	
	}

    #chapters th {
        display: block;
        border: 0;
        padding: 0;
        padding-bottom: 8px;
    }
	
	.chapter-content {
		margin: 0;
		padding: 0;
		padding-top: 10px;
	}
	
	#chapters li {
		border: 0;
		border-bottom: 1px solid #d8d8d8;	
		padding: 15px 0 30px 0;
	}
	
	#chapters table {
		width: 100%;
		margin-bottom: 20px;
	}
	
		#chapters table thead {
			display: none;	
		}
	
		/*	
		#chapters th.cth-content, #chapters th.cth-type, #chapters th.cth-points, #chapters th.cth-status {
			display: none;	
		}
		*/
	
		#chapters table td {
			padding-left: 10px;
			padding-right: 7%;
		}
		
		#chapters tr:first-child {
			border-top: 1px solid #d8d8d8;
		}
	
		#chapters td.ctd-title {
			padding-top: 20px;
		}

        #chapters th.ctd-title {
            padding-top: 7px;
        }
		
			#chapters tr.done td.ctd-date {
				/*border-bottom: 1px solid #ffffff;*/
			}
		
			#chapters td.ctd-date:before {
				content: 'DUE: ';	
			}
			
			#chapters tr.done td.ctd-date:before {
				content: '';	
			}
	
		#chapters td.ctd-points, #chapters td.ctd-complete {
			display: none;	
		}
		
		
	.accord-title {
		text-align: center;	
	}
	
	.accord-toggle {
		float: none;
		position: absolute;
		bottom: 15px;
		left: 50%;
		margin-left: -16px;	
		background-position: center 10px;
	}
	
		.accord-toggle.open {
			background-position: center -58px;
		}
	
		#chapters li .text {
			float: none;	
			padding: 0;
		}
		
		.progress {
			float: none;
			margin: 15px auto;
		}
		
	.accord-content p {
		padding: 0;
	}
	
		
}

