API_BASE_URL=http://localhost:3000/api/
API_SERVICE_NAME=API
APPLICATION_KEYS=Writing_Tools
CONSUMER_KEY=key
CONSUMER_SECRET=secret
FRONT_END_ORIGIN=http://localhost:3666
JWT_SECRET=secret
LOGGING_LEVEL=silly
LOGGING_TRANSPORTS="console|logstash"
MIGRATE_ENV=development
NODE_ENV=development
POSTGRES_DATABASE=writer_key
POSTGRES_HOST=127.0.0.1
POSTGRES_PASSWORD=writer_key
POSTGRES_PORT=5432
POSTGRES_USER=writer_key
SPA_URL=http://localhost:8080/app.bundle.js
SWAGGER_UI_URL=http://localhost:4666
WK_API_URL=http://localhost:3000/api
WK_SERVE_URL=http://localhost:10080
TESTING_API_PORT=4667
FRONTEND_PORT=8080
SERVE_PORT=10080
SWAGGER_PORT=4666
API_PORT=3000
