export API_BASE_URL=http://localhost:3000/
export API_PORT=3000
export APPLICATION_KEYS=WriterKey
export CONSUMER_KEY=key
export CONSUMER_SECRET=secret
export FRONT_END_ORIGIN=http://localhost:3666
export JWT_SECRET=secret
export LOGGING_LEVEL=silly
export LOGGING_TRANSPORTS="console|logstash"
export MIGRATE_ENV=development
export NODE_ENV=development
export POSTGRES_DATABASE=writer_key
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PASSWORD=writer_key
export POSTGRES_PORT=5432
export POSTGRES_USER=writer_key
export PROD_TOOLS_SPA_URL=http://localhost:8081/app.bundle.js
export SPA_URL=http://localhost:8080/app.bundle.js
export SWAGGER_UI_URL=http://localhost:4666
export WK_API_URL=http://localhost:3000
export WK_SERVE_PORT=10080
export WK_SERVE_URL=http://localhost:10080
export TESTING_API_PORT=4667