@import 'variables.css';

.message_default {
  align-items: center;
  background-color: var(--messageBlue);
  border: 1px solid var(--messageBlueBorder);
  display: flex;
  margin: 20px 0 0;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.message_icon_default svg{
  fill: var(--messageBlueBorder);
}


.message_success {
  composes: message_default;
  background-color: var(--messageGreen);
  border-color: var(--messageGreenBorder);
}

.message_icon_success svg{
  fill: var(--messageGreenBorder);
}


.message_error {
  composes: message_default;
  background-color: var(--messageRed);
  border-color: var(--messageRedBorder);
}

.message_icon_error svg{
  fill: var(--messageRedBorder);
}


.message_warning {
  composes: message_default;
  background-color: var(--messageYellow);
  border-color: var(--messageYellowBorder);
}

.message_icon_warning svg{
  fill: var(--messageYellowBorder);
}


.message {
  margin-left: 10px;
}
