@import 'variables.css';

.header {
  align-items: center;
  background-color: var(--header-background-blue);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.activityDetailsIcon {
  border-bottom: 2px solid red;
}
