@import 'variables.css';

.commentMenu {
  position: absolute;
  background-color: var(--gray-very-light);
  display: flex;
  flex-direction: column;
  color: var(--aqua);
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.40);
}

.commentMenu li {
  padding: 15px 30px;
  border-bottom: 1px solid var(--gray-light);
  white-space: nowrap;
}