@import 'variables.css';

.bold {
  font-weight: bold;
}

.drafts {
  border-top: 1px solid var(--lightGrey);
}

.drafts section {
  display: flex;
  padding: 15px 20px;
}

.draftParam, .draftParamSelect {
  min-width: 32%;
}

.draftParamSelect {
  color: var(--blue);
  margin-top: 10px;
}

.draftLeft, .draftRight {
  min-width: 50%;
}

.filters {
  color: var(--darkGrey);
  flex-wrap: wrap;
  font-size: 14px;
  overflow: hidden;
  width: 75%;
}

.instructions {
  font-weight: normal;
  height: 50%;
  width: 95%;
}

.calendar {
  position: relative;
  left: -3px;
  top: 3px;
  fill: var(--blue);
}

.dropdown_caret {
  position: relative;
  left: 5px;
  top: 3px;
  fill: var(--blue);
}
