@import 'variables.css';

.icon {
  fill: var(--aqua);
}

.iconDisabled {
  fill: var(--gray-light);
}

.draftType, .draftDetails {
  display: flex;
  padding: 15px 20px;
}

.draftTypeLeft {
  margin-right: 20px;
  min-width: 33%;
}

.draftDetails {
  justify-content: space-between;
}

.draftDetailsRight {
  width: 48%;
}

.draftDetailsRight a {
  display: flex;
  text-decoration: none;
}

.subheader {
  color: var(--gray-dark);
  @apply --font-14;
  font-weight: bold;
  min-width: 32%;
}

.draftNote {
  margin-bottom: 30px;
  text-align: center;
}

.studentReviewType {
  font-weight: normal;
}

.studentNote {
  font-style: italic;
}

.deleteButton[disabled] {
  cursor: auto;
}
