:root {
  --pureWhite: #FFFFFF;
  --offWhite: #F8F8F8;

  --lightGrey: #DDDDDD;
  --mediumLightGrey: #C8C8C8;
  --veryLightGrey: #F3F3F3;
  --darkGrey: #686868;
  --veryDarkGrey: #383838;
  --comGrey: #cdcdcd;
  --menuGrey: #272727;

  --blackish: #080808;
  --black: #000000;

  --green: #3B822E;
  --lightGreen: #acdba2;
  --veryLightGreen: #daf4d4;

  --lightYellow: #faf2a9;
  --veryLightYellow: #fffbd7;

  --orange: #DD5714;
  --lightOrange: #ffc196;
  --veryLightOrange: #ffe5d3;

  --red: #DA1B2C;
  --lightRed: #ffafaf;
  --veryLightRed: very light red;
  --errorRed: #FF3B30;

  --blue: #00758E;
  /* these few are in the comps but not in the color palette or CDL */
  --lightBlue: #A0ACB2;
  --selectBlue: #b0daff;
  --darkBlue: #142A35;

  /* Font weight colors */
  --font-light: #b2b2b2;
  --font-default: #878787;
  --font-medium: #6d6d6d;
  --font-strong: #474747;
}
