@import '../../../styles/core.css';

.summary {
  flex: 0 1 960px;
}

/*h1.title {*/
  /*@apply --font-light;*/
  /*color: var(--font-medium);*/
  /*font-size: 32px;*/
  /*margin-bottom: 12px;*/
/*}*/

.typeAndCourse {
	font-size: 16px;
	line-height: 1.5em;
	color: var(--blue);
	margin-bottom: 20px;
}

.rhetoricAndRubric {
	line-height: 1.5em;
	margin-bottom: 20px;
}

.label {
	@apply --font-strong;
	margin-right: 5px;
}

.summary p {
	margin-top: 0px;
	margin-bottom: 20px;
}
