@import 'variables.css';

.addComment textarea {
  width: 100%;
  min-height: 80px;
  border-color: var(--gray-medium);
  resize: none;
}

.addComment button {
  margin: 0;
}

.endComment {
  white-space: pre-wrap;
  word-wrap: break-word;
}