@import 'mixins.css';

.action-button-container {
  flex: 0 0 300px;
  display: flex;
  flex-flow: column nowrap;
}

.action-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.action-button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--blue);
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 8px 15px 10px 15px;
  border-radius: 3px;
}
