@import '../../styles/core.css';

.action_button_container {
  display: flex;
  flex-flow: column nowrap;
}

.action_button_wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.action_button {
  background-color: transparent;
  border: 1px solid var(--blue);
  cursor: pointer;
  color: var(--blue);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.02em;
  padding: 8px 10px;
  border-radius: 3px;
}

.action_button:hover {
  opacity: 0.8;
}

.action_button_blue {
  background-color: var(--blue);
  border: none;
  color: var(--pureWhite);
}
