@import 'core.css';

.panelSize {
  width: var(--panel-left-width);
  margin: 0 0 0 var(--page-margin-left);
}

.description {
  margin-bottom: 45px;
}
.titleTextBox {
  margin-bottom: 25px;
  height: 25px;
  width: 100%;
  padding-left: 10px;
  padding-right: 0px;
}

.promptTextArea {
  margin-bottom: 25px;
  width: 100%;
  padding-left: 10px;
  padding-right: 0px;
}

.number-drafts {
  margin-top: 10px;
}

.number-drafts {
  height: 25px;
  min-width: 25px;
  text-align: center;
}

.header {
  background-color: var(--darkGrey);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--lightGrey);
}
