@import '../../../styles/core.css';

.sideMenu {
  background-color: var(--pureWhite);
  border-left: 1px solid var(--lightGrey);
  height: 100%;
  min-width: 200px;
  overflow-y: auto;
}

.sideMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sideMenu li {
  border-bottom: 1px solid var(--lightGrey);
  cursor: pointer;
  display: flex;
  font-size: 13px;
  padding: 10px 20px;
}

.sideMenu li:hover {
  border: 1px solid var(--mediumLightGrey);
}

.sideMenu li img {
  margin-right: 6px;
}

.sideMenuCaption {
  margin-left: 5px;
}

.list_Item {
  background-color: var(--offWhite);
}

.list_Item:last-child {
  border-bottom-color: var(--mediumLightGrey);
}

.list_item li:hover {
  border: 1px solid var(--darkGrey);
}

.quickFeedback {
  height: 100%;
  overflow: hidden;
}

.hiddenItem {
  height: 0px;
}
