.sidebarContainer {
  padding: 0 20px;
  width: 240px;
  border: thin #ddd;
  border-style: solid none;
}

.sidebar li {
  font-size: 13px;
}

.commentIcon {
  list-style-image: url("https://macmillanlearning.atlassian.net/secure/attachment/21936/comment.svg");
}

.thumbsUpIcon {
  list-style-image: url("https://macmillanlearning.atlassian.net/secure/attachment/22111/comment_thumbsup.svg");
}

.quickFeedbackIcon {
  list-style-image: url("https://macmillanlearning.atlassian.net/secure/attachment/22112/comment_quickfeedback.svg");
}
