.sidebarContainer {
  position: fixed;
  float: right;
  margin: 0 20px 0 80%;
  width: 80px;
  border: thin #ddd;
  border-style: solid none;
}

.sideMenu {
  border: thin #ddd;
  border-style: solid none;
  float: right;
  width: 30%;
}

.sideMenu ul {
  padding: 0 20px;
}

.sideMenu li {
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 190px;
}

.sideMenu li img {
  margin-right: 6px;
}

.sideMenuCaption {
  margin-left: 5px;
}
