.sidebarContainer {
  border: thin #ddd;
  border-style: solid none;
}

.sidebar ul {
  padding: 0 20px;
}

.sidebar li {
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 190px;
}

.sidebar li img {
  margin-right: 6px;
}
