.sideMenu {
  border-left: solid thin #ddd;
  height: 100%;
  overflow-y: auto;
}

.sideMenu ul {
  padding: 20px;
  margin: 0;
}

.sideMenu li {
  align-items: center;
  display: flex;
  font-size: 13px;
  cursor: pointer;
}

.sideMenu li img {
  margin-right: 6px;
}

.sideMenuCaption {
  margin-left: 5px;
}

.list_Item {
  background-color: lightgray;
  border: solid thin darkgray;
  padding: 5px 0 5px 5px;
}

.quickFeedback {
  height: 100%;
  overflow: hidden;
}

.hiddenItem {
  height: 0px;
}
