.sidebarContainer {
  position: fixed;
  float: right;
  margin: 0 20px 0 80%;
  width: 240px;
  border: thin #ddd;
  border-style: solid none;
}

.sidebar {
  position: relative;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  font-weight: bold;
  margin-bottom: 5px;
}
