@import 'variables.css';

.highlight, .highlight span {
  display: inline;
  background-color: var(--blue-light);
  margin: 0;
}

.flag {
  position: absolute;
  width: 160px;
  display: inline-block;
  /*display: none;*/
  color: #080808;
  border: 1px solid #00758E;
  background: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #faf2a9;
  background: #fff;
  right: -50px;
}

.flagCaret {
  position: absolute;
  transform: rotate(180deg);
  left: -6px;
  top: 8px;
}

.flagTitle {
  line-height: 38px;
  border-bottom: 1px solid #dddddd;
  padding: 0 15px;
  font-weight: bold;
  border: none;
  padding-left: 38px;
}

.flag-content {
  padding: 8px 15px;
}
  
.flag-title svg {
    fill: #faf2a9;
    position: absolute;
    top: 8px;
    left: 8px;
}

#triangle {
    fill: #fff;
  }
  
#triangle-outline {
    stroke: #faf2a9;
  }