@import 'mixins.css';

.subList {
  width: 100%;
}

.filter {
  color: var(--darkGrey);
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 20px;
}

.dropDown {
  color: var(--blue);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.row {
  border-bottom: 1px solid var(--lightGrey);
  height: 50px;
}

th {
  color: var(--darkGrey);
  font-size: 13px;
  font-weight: normal;
  padding: 0 20px !important;
  text-align: left;
}

select {
  background-color: var(--comGrey);
  height: 30px;
  margin-right: 25px;
  width: 450px;
}

.review_type {
  margin-right: 25px;
}

.button {
  background-color: var(--comGrey);
  padding: 7px 10px;
}

.dropdown_caret {
  position: relative;
  left: 5px;
  top: 3px;
  fill: var(--blue);
}
