@import 'variables.css';

.header {
  align-items: center;
  background-color: var(--header-background-blue);
  display: flex;
  justify-content: flex-end;
  padding: 15px 80px;
  min-height: 36px;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 35px;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}
