@import 'variables.css';

.header {
  background-color: var(--white);
  padding: 15px 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  min-height: 35px;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: var(--blue-light);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-right: 60px;
}
