@import 'variables.css';

/* this file is a bunch of overrides for the default behaviors in react wysiwyg */

.editor {
  background: var(--white);
  padding: 6px 5px 0;
  width: auto !important;
  height: auto !important;
  flex: 1;
  overflow: visible !important;
}

.feedbackEditor {
  composes: editor;
  width: 75% !important;
}

.toolbar {
  width: auto !important;
  align-items: center;
  min-height: 75px;
  border: 1px solid var(--gray-light) !important;
}

.toolbarHide {
  display: none !important;
}

.editorWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.border {
  border: 1px solid var(--gray-light);
}

.highlight, .highlight span {
  display: inline;
  background-color: var(--blue-light);
}

::-moz-selection { /* Code for Firefox */
  background-color: var(--blue-light);
}

::selection {
  background-color: var(--blue-light);
  flex: 1;
}