@import 'variables.css';

/* this file is a bunch of overrides for the default behaviors in react wysiwyg */

.editor {
  background: var(--white);
  padding: 6px 5px 0;
  width: auto !important;
  height: auto !important;
  flex: 1;
  overflow: visible !important;
}

.toolbar {
  width: auto !important;
  align-items: center;
}

.editorWrapper {
  display: flex;
  flex-direction: column;
}