.quickFeedback {
  position: relative;
  width: 100%;
}

.list_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list_Item {
  background-color: lightgray;
  border: solid thin darkgray;
  padding: 5px 0 5px 5px;
}
