@import 'variables.css';

.container {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
}

.heading {
  display: flex;
  justify-content: space-between;
  background: var(--off-white);
  border-bottom: solid 1px var(--gray-light);
  padding: 13px 23px;
}

.heading:hover {
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
}

.title strong {
  margin-right: 15px;
}

.toggableHeading {
  font-weight: bold;
  @apply --font-18;
}

.questionType {
  color: var(--red);
}

.content {
  display: none;
  padding: 18px 23px;
}

.open .content {
  display: block;
}

.icon {
  fill: var(--black);
  margin-right: 5px;
}

.checkbox:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 117, 142, 1);
}

.checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  background: var(--white);
  border: 1px solid var(--gray-medium);
  border-radius: 3px;
  position: relative;
  margin: 3px 0;
}

.checkbox:checked {
  background: var(--aqua);
  border: 1px solid var(--aqua);
}

.checkbox:after {
  content: '';
  width: 8px;
  height: 3px;
  position:absolute;
  top: 3px;
  left: 2px;
  border: 2px solid var(--white);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox:checked:after {
  opacity: 1;
}

.disabled {
  background-color: var(--gray-light);
  color: var(--gray);
}

.checkbox:disabled {
  background: var(--gray-very-light);
  border: 1px solid var(--gray-medium);
}

.checkbox:disabled:checked {
  border: 1px solid var(--gray-medium);
}

.checkbox:disabled:checked:after {
  border-color: var(--gray-medium);
}

.disabled .icon {
  fill: var(--gray);
}
