@import 'variables.css';

.container {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
}

.heading {
  display: flex;
  justify-content: space-between;
  background: var(--off-white);
  border-bottom: solid 1px var(--gray-light);
  padding: 13px 23px;
}

.heading:hover {
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
}

.title strong {
  margin-right: 15px;
}

.toggableHeading {
  font-weight: bold;
  @apply --font-18;
}

.questionType {
  color: var(--red);
}

.content {
  display: none;
  padding: 18px 23px;
}

.open .content {
  display: block;
}

.icon {
  fill: var(--black);
  margin-right: 5px;
}

.checkbox {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--white);
  border: 1px solid var(--gray-light);
}

.checkbox:checked {
  background: var(--aqua);
}

.disabled {
  background-color: var(--gray-light);
  color: var(--gray);
}

.disabled .checkbox {
  background: var(--gray-light);
  border: 1px solid var(--gray);
}

.disabled .icon {
  fill: var(--gray);
}
