@import 'variables.css';

.page {
  height: 100%;
  overflow-y: auto;
  overflow-y: overlay;
  margin-top: 66px;
}

.container {
  height: 100%;
  padding: 30px 80px;
}

.alert {
  padding-bottom: 30px;
}
