@import 'variables.css';

.page {
  height: 100%;
  display: flex;
  flex-direction: column
}

.container {
  height: 100%;
  padding: 20px 80px;
  overflow-y: auto;
}

.alert {
  padding-bottom: 30px;
}
