@import 'variables.css';

.header {
  background-color: var(--header-background-blue);
  font-size: 18px;
  color: var(--white);
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 64px;

}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftWrapper {
  display: flex;
}

.rightWrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-right: 40px;
}

.leftArrow {
  fill: var(--white);
  cursor: pointer;
}

.title {
  padding-left: 15px;
}
