@import 'variables.css';

.header, .studentHeader {
  align-items: center;
  background-color: var(--header-background-blue);
  color: var(--blue-light);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.studentHeader {
  background-color: var(--white);
  justify-content: flex-end;
}

.rightContainer {
  display: flex;
  justify-content: center;
}

.leftContainer {
  width: 40px;
  display: flex;
}

.arrowIcon {
  fill: var(--white);
  margin: auto auto;
}
