@import 'mixins.css';

:root {
	--container-height: 50px;
}

.container {
	width: 100%;
	height: var(--container-height);
	padding-left: 100px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: var(--box-bg-grey);
}

.container div {
	height: var(--container-height);
	line-height: var(--container-height);
	font-size: 16px;
	font-align:center;
	padding: 0 10px;
	margin-right: 10px;
}
.active {
	border-bottom: 8px solid var(--box-border-dark-grey);
	@apply --font-strong;
}
