@import 'variables.css';

.header {
  background-color: var(--header-background-blue);
  padding: 15px 80px;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.flex {
  display:flex;
}

.linkContainer {
  composes: flex;
  align-items:center;
}
