@import 'variables.css';

.header {
  background-color: var(--white);
  padding: 20px;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.draftLink {
  text-decoration: none;
  cursor: pointer;
  color: var(--aqua);
}

.flex {
  display:flex;
}

.linkContainer {
  composes: flex;
  align-items:center;
}
