@import 'mixins.css';

.column {
  display: flex;
}

.category_score {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category_item {
  border: 0px solid var(--lightGrey);
  border-width: 0 1px 1px 0;
  height: 100px;
  padding: 15px;
}

.category_item {
  transition: background-color 300ms linear;
}

.category_item:hover {
  background-color: var(--veryLightGreen);
  opacity: .2;
}

.category_item_green {
  background-color: var(--lightGreen);
}

.category_item_green:active,
.category_item_green.selected {
  background-color: var(--lightGreen);
}

.category_item_green:hover {
  background-color: var(--veryLightGreen);
  opacity: .2;
}

.category_item_yellow {
  background-color: var(--lightYellow);
}

.category_item_yellow:active,
.category_item_yellow.selected {
  background-color: var(--lightYellow);
}

.category_item_yellow:hover {
  background-color: var(--veryLightYellow);
  opacity: .2;
}

.category_item_orange {
  background-color: var(--lightOrange);
}

.category_item_orange:active,
.category_item_orange.selected {
  background-color: var(--lightOrange);
}

.category_item_orange:hover {
  background-color: var(--veryLightOrange);
  opacity: .2;
}
.category_item_red {
  background-color: var(--lightRed);
}

.category_item_red:active,
.category_item_red.selected {
  background-color: var(--lightRed);
}

.category_item_red:hover {
  background-color: var(--veryLightRed);
  opacity: .2;
}
