.column {
  display: flex;
}

.category_score {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category_item {
  border: 0px solid #999;
  border-width: 0 1px 1px 0;
  width: calc(100% - 31px);
  height: 100px;
  padding: 15px;
}

.category_item {
  transition: background-color 300ms linear;
}

.category_item:active,
.selected {
  background-color: #00758E;
  opacity: .5;
}

.category_item:hover {
  opacity: .2;
}

