@import 'core.css';

.rubric_container {
  color: var(--darkGrey);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: auto;
  padding: 60px 20px 20px 20px;
  position: relative;
  width: 75vw;
}

.show_rubric_levels {
  margin-top: 10px;
}

.close {
  cursor: pointer;
  margin-left: auto;
}

.heading {
  display: flex;
  margin-bottom: 20px;
}

.rubricTable {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
}
