.rubric_container {
  color: #444;
  display: flex;
  margin: 0 auto;
  overflow: auto;
  padding-top: 60px;
  position: relative;
  width: 75vw;
}

.title {
  position: absolute;
  top: 20px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 20px;
}

.argumentRubric {
  font-weight: bold;
}

.show_rubric_levels {
  margin-top: 10px;
}
