@import 'variables.css';


.sidePanel {
  border: 1px solid var(--gray-light);
  height: 100%;
}

.padder {
  padding: 20px 12px;
}

.navigationButton {
  composes: padder;
  background-color: var(--gray-very-light);
}

.previousDraft {
  border-top: solid var(--gray-light);
  border-width: 1px 0;
}

.actHeader {
  border: solid var(--gray-light);
  border-width: 1px 0;
  composes: padder;
  margin: 0;
}

.listSpacer {
  min-height: 30px;
}

.link {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--aqua);
}
