@import 'mixins.css';

.image {
  background: url('../../../images/comment_thumbsup.png') no-repeat;
  width: 30px;
  height: 20px;
  display: inline-block;
}

.anchor {
  margin-left: 5px;
}

.list_container {
  padding-left: 0;
  margin: 0;
}

.list_item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  color: darkgray;
}

.icon:after {
  color: darkgray;
  content: '\2807';
  font-size: 20px;
}

.paragraph {
  margin-bottom: 10px;
  color: darkgray;
}

.resources {
  color: darkgray;
  margin-bottom: 10px;
  font-weight: bold;
}

.triangle_border {
  background: #fff;
  border: 1px solid #5fc5eb;
  border-radius: 0px 4px 4px 4px;
  color: #333;
  margin: 25px;
  padding: 5px 10px;
  position: relative;
  width: 170px;
  font-size: 12px;
  -webkit-border-radius: 0px 4px 4px 4px;
  -moz-border-radius: 0px 4px 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 300px; /* for placement example */
}

.flagContainer .triangle_border {
  align-items: flex-start;
  flex-direction: column;
  width: 200px;
}

.flagContainer .title {
  margin: 0 0 5px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.triangle_border:before {
  border-color: transparent #5fc5eb;
  border-style: solid;
  border-width: 0px 20px 10px 0;
  bottom: auto;
  display: block;
  content: "";
  left: -20px;
  position: absolute;
  top: -1px;
  width: 0;
}

.triangle_border:after {
  border-color: transparent #fff;
  border-style: solid;
  border-width: 0px 15px 8px 0;
  bottom: auto;
  content: "";
  display: block;
  left: -15px;
  position: absolute;
  top: 0px;
  width: 0;
}

.green {
  border-color: #7cd34b;
}

.green:before {
  border-color: transparent #7cd34b !important;
}

.orange {
  border-color: #f5a543;
}

.orange:before {
  border-color: transparent  #f5a543 !important;
}
