@import 'variables.css';

.draftInstContainer {
  margin-bottom: 15px;
}

.addDraftHeading {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding-bottom: 10px;
}

.instructions {
  white-space: pre-wrap;
}

