@import 'core.css';

.heading {
  display: flex;
  height: 71px;
}

.heading_item {
  background-color: var(--veryLightGrey);
  border: 1px solid var(--lightGrey);
  border-width: 1px;
  width: calc(100% * 1/5);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading_value {
  margin-left: auto;
}

.headingId > .heading_item:first-child {
  font-weight: bold;
}

.heading_name {
  color: var(--darkGrey);
}
