@import 'variables.css';

.table {
  background-color: var(--white);
  border-collapse: collapse;
  width: 100%;
}

.heading {
  border-bottom: 1px solid var(--gray-light);
  height: 50px;
  color: var(--gray);
  font-size: 13px;
  font-weight: normal;
  text-align: left;
}

.heading th {
  padding: 0 20px;
}

.notStartedAlert {
  padding: 15px 20px;
}
