@import 'mixins.css';

.dashBoard {
  width: 100%;
  height: 400px;
  background-color: white;
}

.heading {
  margin-left: var(--page-margins);
}

.createAssignment {
  background-color: var(--lightGrey);
  margin-right: var(--page-margins);
  margin-left: var(--page-margins);
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.content {
  margin-right: var(--content-margins);
  margin-left: var(--content-margins);
}

.description {
  font-size: 16px;
}

.create-button {
  margin: 0px;
  display: flex;
  float: right;
  align-items: center;
  flex-direction: row;
  margin-left:auto;
  margin-right: var(--content-margins);
}

.headers {
  margin: 0px;
  display: inline-block;
  float: left;
}
