@import 'variables.css';

.flag {
  position: absolute;
  width: 150px;
  display: inline-block;
  color: #080808;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #faf2a9;
  background: #fff;
  right: 100px;
}

.flagCaret {
  position: absolute;
  transform: rotate(180deg);
  left: -6px;
  top: 8px;
}

.flagTitle {
  line-height: 38px;
  padding: 0 15px 0 30px;
  font-weight: bold;
}

.icon {
  fill: var(--yellow-light)
}

.triangle {
  fill: #fff;
}
  
.triangleOutline {
  stroke: #faf2a9;
}