@import 'variables.css';

.flag {
  position: absolute;
  width: 230px;
  display: inline-block;
  color: var(--black);
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid var(--yellow-medium);
  background: #fff;
  right: 0;
  user-select: none;
  z-index: 1;
  word-wrap: break-word;
}

.expanded {
  z-index: 2;
}

.flagGreen {
  border: 1px solid var(--green-light);
}

.flagOrange {
  border: 1px solid var(--orange-light);
}

.flagCaret {
  position: absolute;
  transform: rotate(180deg);
  left: -6px;
  top: 8px;
}

.flagHeader {
  display: flex;
  cursor: pointer;
}

.flagTitle {
  flex: 1;
}

.flagTitleText {
  line-height: 20px;
  padding: 8px;
  font-weight: bold;
}

.flagTitleCont {
  display: flex;
}

.commentIcon {
  fill: var(--yellow-medium);
  margin-top: 8px;
  margin-left: 8px;
}

.moreIcon {
  fill: var(--black);
}

.moreButton {
  padding: 6px 8px 8px 8px;
  margin: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.flagGreen .commentIcon {
  fill: var(--green-light);
}

.flagOrange .commentIcon {
  fill: var(--orange-light);
}

.triangle {
  fill: var(--white);
}
  
.triangleOutline {
  stroke: var(--yellow-medium);
}

.flagGreen .triangleOutline {
  stroke: var(--green-light);
}

.flagOrange .triangleOutline {
  stroke: var(--orange-light);
}

.feedback {
  border-top: 1px solid var(--gray-light);
  padding: 12px;
}

.predefined {
  font-weight: bold;
  padding-bottom: 10px;
  white-space: pre-wrap;
}

.feedbackContent {
  white-space: pre-wrap;
}

.feedbackFlagMenu {
  position: absolute;
  padding: 33px 9px 0 0;
  top: 0;
  right: 0;
}

.feedbackFlagMenuList {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.40);
}

.feedbackFlagMenuList li {
  padding: 15px 30px;
  border-bottom: 1px solid var(--gray-light);
  min-width: 235px;
}

.feedbackFlagMenuList li:hover {
  text-decoration: underline;
}
