@import 'variables.css';

.studentHeader {
  align-items: center;
  background-color: var(--header-background-blue);
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
}

.rightContainer {
  display: flex;
  justify-content: center;
}

.leftContainer {
  width: 40px;
  display: flex;
}

.arrowIcon {
  fill: var(--white);
  margin: auto auto;
}
