@import 'variables.css';

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: 1;
  overflow-y: auto;
  padding: 20px 80px;
}

.finalGradeLabel {
  color: var(--gray-dark);
  font-size: 14px;
  margin-right: 10px;
}

.finalGrade {
  font-size: 14px;
  font-weight: bold;
}

.feedbackPaperWrapper {
  position: relative;
}

.feedbackPaper {
  padding: 6px 5px 0;
  flex: 1;
  overflow: visible;
  width: 75%;
}

.endComment {
  white-space: pre-wrap;
}