.modalForm textarea {
  width: 100%;
}

.modalForm button {
  background: #fff;
  border: none;
  border-radius: 5px;
  float: right;
  padding: 5px;
}

.modalForm button[type="submit"] {
  background: #444;
  color: #fff;
}
