.feedbackToolContainer {
  display: flex;
  height: 100%;
  padding: 10px;
}

.scrollContainer {
  overflow: auto;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  float: left;
}
