.modal textarea {
  width: 100%;
}

.modal button {
  background: #fff;
  border: none;
  border-radius: 5px;
  float: right;
  padding: 10px 20px;
}

.modal button[type="submit"] {
  background: #444;
  color: #fff;
}
.feedbackToolContainer {
  display: flex;
  height: 100%;
  padding: 10px;
}

.scrollContainer {
  overflow: auto;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  float: left;
}
