.image {
    background: url('../../images/comment_thumbsup.png') no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
}

.icon:after {
    color: darkgray;
    content: '\2807';
    font-size: 20px;
}

.resources {
    margin-bottom: 10px;
    font-weight: bold;
}
