@import 'variables.css';

.header {
  background-color: var(--header-background-blue);
  color: var(--white);
  font-weight: bold;
  padding: 15px 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leftContainer {
  display: flex;
  justify-content: center;
}

.draftTitle {
  font-size: 17px;
}

.draftInfo {
  font-size: 13px;
  font-style: italic;
}