@import 'mixins.css';

.assignment-action {
  flex: 0 0 300px;
  min-width: 300px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.assign-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.assign-button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--blue);
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 8px 15px 10px;
  border-radius: 3px;
}
