@import 'variables/colors.css';

a, a:link, a:hover, a:active  {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
}

.panel {
  background-color: var(--pureWhite);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
          box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  font-size: 15px;
  margin: 20px 0;
  padding: 0;
}

.panel h1 {
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  font-size: 23px;
  font-weight: normal;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

.panelBottom {
  padding: 20px;
}

.panel h4 {
  font-weight: bold;
  margin: 0 0 10px;
}

.panel ol {
  line-height: 24px;
  margin: 0 0 20px;
}
