@import 'mixins.css';

body {
	font-family: sans-serif;
	color: var(--font-default);
	font-size: 14px;
}

a, a:link, a:hover, a:active  {
	text-decoration: none;
	color: var(--blue);
	cursor: pointer;
}
