@import 'colors.css';

:root {
  /* Page layout */
  --page-margins: 224px;    /* used for both left and right margins */
  --content-margins: 40px;

  /* Sizes */
  --page-width: 800px;
  --page-margin-left: 160px;
  --panel-left-width: 600px; /* remainder would be right panel width */
}

