@import 'variables.css';

.top_header {
  height: 55px;
  display: flex;
  flex-flow: row nowrap;

  background-color: var(--menuGrey);
  align-items: center;
}

.logo {
  margin-left: var(--page-margins);
}

.course_name {
  margin-left: auto;
  margin-right: var(--page-margins);
}

.page {
  width: var(--page-width);
  margin-left: var(--page-margin-left);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.content_left {
  margin-left: 0;
  font-size: large;
}

.content_right {
  margin: 0 0 0 auto;
  font-size: small;
}
