@import 'variables.css';

.header {
  align-items: center;
  background-color: var(--header-background-blue);
  color: var(--blue-light);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.headerRight {
  display: flex;
  justify-content: center;
}

.leftArrow {
  fill: var(--white);
  margin: auto auto;
}

.leftArrowContainer {
  width: 40px;
  display: flex;
}

.leftSide {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
