@import 'variables.css';

.button {
  background-color: transparent;
  border: 1px solid var(--aqua);
  border-radius: 3px;
  color: var(--aqua);
  cursor: pointer;
  display: flex;
  @apply --font-14;
  font-weight: normal;
  letter-spacing: 0.02em;
  margin-left: 10px;
  padding: 8px 10px;
}

.button:hover {
  opacity: 0.8;
}

.red_hollow {
  border-color: var(--red);
  color: var(--red);
}

.blue {
  composes: button;
  background-color: var(--aqua);
  border: none;
  color: var(--white);
}

.green {
  composes: button;
  background-color: var(--green);
  border: none;
  color: var(--white);
}

.icon {
  fill: var(--aqua);
}
