@import 'variables.css';

.header {
  background-color: var(--header-background-blue);
  color: var(--white);
  font-weight: bold;
  padding: 15px 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  justify-content: center;
}

.rightContainer {
  display: flex;
  justify-content: center;
}

.icon {
  fill: var(--white);
}

.instructorName {
  font-size: 17px;
}

.draftInfo {
  font-size: 13px;
}

.italic {
  font-style: italic;
}
