@import 'mixins.css';

.container {
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  justify-content: center;
}

.container div {
	font-size: 14px;
  line-height: 45px;
  margin-right: 10px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.container a, .container a:link, .container a:active, .container a:visited {
  color: var(--darkGrey);
}

.container a:hover {
  color: var(--blackish);
}

.active {
	border-bottom: 3px solid var(--red);
}

.active a, .active a:link, .active a:hover, .active a:active, .active a:visited {
  color: var(--blackish);
  position: relative;
  top: 2px;
}
