@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app, body {
  font-family: 'SourceSansPro-Regular', Arial, sans-serif;
}

body {
	background-color: #F3F3F3;
	color: #080808;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:link, a:hover, a:active, a:visited  {
  color: #00758E;
  cursor: pointer;
}
